<configuration>
    <!-- Console appender for debugging during development -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender for logging to the file system -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/event-logger.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Specific logger configuration for EventLogger -->
    <logger name="ai.scads.odibel.datasets.wikitext.log.EventLogger" level="debug" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.apache.spark" level="warn" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.sparkproject.jetty" level="warn" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Root logger configuration -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>